*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.banner{
    position: relative;
}

.banner #dotsCanvas{
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}